<h1>Help</h1>
<p>
  Get help on the Vendor Man App at the
  <a href="http://dry-mesa-9717.herokuapp.com/">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://dry-mesa-9717.herokuapp.com/">Rails Tutorial book</a>.
</p>
